Options -MultiViews

RewriteEngine On

RewriteBase /tutorials/OOP_PHP/19_design_patterns/simple_mvc/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

